<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darae Jang</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="title">Darae Jang</div>
        <ul>
            <li>about</li>
            <li class="activate">feed</li>
            <li>project</li>
        </ul>
    </header>

    <div class="wrapper">
        <div class="card">
            <div class="contents">
                <div class="admin">
                    <a href="#">수정</a>
                    <a href="#">삭제</a>
                </div>
                <div class="text">
                    벼는 익을 수록 고개를 숙인다.
                </div>
                <p class="date">2021-05-16 02:14</p>
                <!-- <div class="frame"></div> -->
            </div>

            <div class="comments">
                <div class="text">
                    <div class="head">
                        <p class="author">익명의 개발자 <span class="date">4일 전</span></p>
                    </div>
                    <div class="body">
                        좋은 말이네요.
                    </div>
                </div>
                <div class="text">
                    <div class="head">
                        <p class="author">익명의 방문자 <span class="date">3시간 전</span></p>
                    </div>
                    <div class="body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas repellendus, ipsum officiis error maxime corporis ullam numquam, expedita enim beatae at! Incidunt, harum? Deleniti fugiat non, voluptate exercitationem repellendus libero.
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="contents">
                <!-- <div class="frame"></div> -->
                <div class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi repellendus esse non, blanditiis quos ipsa perspiciatis explicabo doloribus reprehenderit fuga sit totam temporibus cum iure officiis nisi? Repellat, tenetur illo!
                </div>
                <p class="date">2021-05-16 02:14</p>
            </div>

            <div class="comments">
            </div>
        </div>
    </div>

    <!-- <div class="sidebar">
        <div class="title">FAQ</div>
        <ul>
            <li>무엇을 위한 사이트인가요?</li>
        </ul>
    </div> -->

</body>
</html>